@import '../Vars.scss';

.footer {
    align-items: center;
    justify-content: center;
    background-color: $main-color;
    display: flex;
    height: 100px;
    width: 100%;
  
  }
  
  .footer a {
    color: $text-color;
    cursor: pointer;
    margin: 2rem;
    align-items: center;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }

